{% extends 'base.html' %}
{% block content %}
<h2>Add New Student</h2>
<form method="POST">
    <div class="mb-3">
        <label>Name</label>
        <input type="text" name="name" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Department</label>
        <input type="text" name="department" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Age</label>
        <input type="number" name="year_level" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>
{% endblock %}